@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.fadeInUp {
    animation: fadeInUp .5s ease-in-out;
    animation-fill-mode: backwards;
}