@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.fadeInUp {
    animation: fadeInUp .5s ease-in-out;
    animation-fill-mode: backwards;
}

@layer components{
  .box-primary{
    @apply bg-slate-600 border-b-slate-950
  }
  .box-cross{
    @apply bg-cyan-400 border-b-cyan-600
  }
  .box-circle{
    @apply bg-yellow-500 border-b-yellow-600
  }
}